In [1]:
import pandas as pd
import numpy as np
import random

NUM_REQUEST = 20

In [2]:
def random_dates(start, end, n):
    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.DatetimeIndex((10**9*np.random.randint(start_u, end_u, n, dtype=np.int64)).view('M8[ns]'))

In [3]:
t_start = pd.to_datetime('2022-11-30')
t_end = pd.to_datetime('2022-12-01')
request = random_dates(t_start, t_end, NUM_REQUEST)

df_request = pd.DataFrame({})
df_request['Time'] = pd.DataFrame(request.sort_values())
df_request

                  Time
0  2022-11-30 00:32:17
1  2022-11-30 01:29:37
2  2022-11-30 04:44:15
3  2022-11-30 04:55:14
4  2022-11-30 05:37:28
5  2022-11-30 07:03:57
6  2022-11-30 09:52:36
7  2022-11-30 10:08:13
8  2022-11-30 11:08:18
9  2022-11-30 12:37:28
10 2022-11-30 13:38:04
11 2022-11-30 14:40:18
12 2022-11-30 15:19:21
13 2022-11-30 15:28:19
14 2022-11-30 15:53:21
15 2022-11-30 16:38:15
16 2022-11-30 16:59:30
17 2022-11-30 18:10:21
18 2022-11-30 19:55:45
19 2022-11-30 23:33:43

In [4]:
# duration : 몇 분 사용하고 가져다 놓을 건지 ( 회사가 아는지 모르는지 결정 )
df_request['Duration'] = pd.DataFrame([5*random.randint(4,10) for _ in range(NUM_REQUEST)])
df_request

                  Time  Duration
0  2022-11-30 00:32:17        35
1  2022-11-30 01:29:37        20
2  2022-11-30 04:44:15        50
3  2022-11-30 04:55:14        30
4  2022-11-30 05:37:28        45
5  2022-11-30 07:03:57        30
6  2022-11-30 09:52:36        25
7  2022-11-30 10:08:13        20
8  2022-11-30 11:08:18        50
9  2022-11-30 12:37:28        45
10 2022-11-30 13:38:04        35
11 2022-11-30 14:40:18        25
12 2022-11-30 15:19:21        35
13 2022-11-30 15:28:19        30
14 2022-11-30 15:53:21        30
15 2022-11-30 16:38:15        40
16 2022-11-30 16:59:30        35
17 2022-11-30 18:10:21        35
18 2022-11-30 19:55:45        20
19 2022-11-30 23:33:43        35

### 고민해야할 것, Request 는 각 node에? 각 edge위에? 임의의 point에?

In [8]:
# 예1)
df_request_with_node = df_request.copy()
df_request_with_node['startnode'] = pd.DataFrame(['node'+str(random.randint(0,250)) for _ in range(NUM_REQUEST)])
df_request_with_node['endnode'] = pd.DataFrame(['node'+str(random.randint(0,250)) for _ in range(NUM_REQUEST)])
df_request_with_node

                  Time  Duration startnode  endnode
0  2022-11-30 00:32:17        35    node39  node231
1  2022-11-30 01:29:37        20    node54   node24
2  2022-11-30 04:44:15        50   node138   node54
3  2022-11-30 04:55:14        30    node71  node190
4  2022-11-30 05:37:28        45   node225  node150
5  2022-11-30 07:03:57        30    node91  node222
6  2022-11-30 09:52:36        25   node248  node107
7  2022-11-30 10:08:13        20   node194   node46
8  2022-11-30 11:08:18        50   node111  node135
9  2022-11-30 12:37:28        45   node243   node47
10 2022-11-30 13:38:04        35    node10   node77
11 2022-11-30 14:40:18        25   node125  node200
12 2022-11-30 15:19:21        35    node83  node245
13 2022-11-30 15:28:19        30   node246  node154
14 2022-11-30 15:53:21        30    node33  node208
15 2022-11-30 16:38:15        40    node54    node4
16 2022-11-30 16:59:30        35   node141  node217
17 2022-11-30 18:10:21        35   node224  node108
18 2022-11-30 19:55:45        20   node110  node128
19 2022-11-30 23:33:43        35   node142  node149

In [9]:
# 예2)
df_request_with_edge = df_request.copy()
df_request_with_edge['startedge'] = pd.DataFrame(['edge'+str(random.randint(0,250)) for _ in range(NUM_REQUEST)])
df_request_with_edge['startpart'] = pd.DataFrame(['%0.1f'%random.random() for _ in range(NUM_REQUEST)])
df_request_with_edge['endedge'] = pd.DataFrame(['edge'+str(random.randint(0,250)) for _ in range(NUM_REQUEST)])
df_request_with_edge['endpart'] = pd.DataFrame(['%0.1f'%random.random() for _ in range(NUM_REQUEST)])
df_request_with_edge

                  Time  Duration startedge startpart  endedge endpart
0  2022-11-30 00:32:17        35   edge198       0.8  edge107     0.9
1  2022-11-30 01:29:37        20    edge78       1.0  edge129     0.7
2  2022-11-30 04:44:15        50   edge132       0.2   edge54     0.9
3  2022-11-30 04:55:14        30   edge148       0.8   edge94     0.6
4  2022-11-30 05:37:28        45    edge94       0.3   edge97     0.2
5  2022-11-30 07:03:57        30    edge91       0.7  edge138     0.7
6  2022-11-30 09:52:36        25   edge154       0.6   edge75     0.7
7  2022-11-30 10:08:13        20   edge239       0.3   edge54     0.6
8  2022-11-30 11:08:18        50   edge129       0.8  edge218     0.2
9  2022-11-30 12:37:28        45    edge93       0.5   edge52     0.7
10 2022-11-30 13:38:04        35    edge16       0.7   edge95     0.6
11 2022-11-30 14:40:18        25   edge232       0.3  edge207     0.5
12 2022-11-30 15:19:21        35   edge191       0.9   edge97     0.5
13 2022-11-30 15:28:19        30   edge135       0.9   edge66     0.5
14 2022-11-30 15:53:21        30   edge241       0.6  edge203     0.3
15 2022-11-30 16:38:15        40     edge7       0.7   edge40     0.8
16 2022-11-30 16:59:30        35    edge14       0.2   edge39     0.1
17 2022-11-30 18:10:21        35   edge178       0.6    edge4     0.9
18 2022-11-30 19:55:45        20   edge120       0.6  edge232     1.0
19 2022-11-30 23:33:43        35   edge108       0.4  edge226     0.3

In [ ]:
# 예3) 혹은 임의의 point 일수도..?

### 이와 같이 request 에 필요한 데이터를 고민해서, 추가할 필요. 우선은 위치만 결정하고 거리로 점수 정해서 풀어보고, 추가적으로 확장